---
layout: page
title: Categories
permalink: /categories/
---
{% capture categories %}{% for category in site.categories %}{{ category | first | downcase }}|{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_tags: {{ site_tags }} -->
{% assign categories_words = categories | split:',' | sort %}

<div class="categories">
  <div class="categories-list">
    {% for category_pair in categories_words %}
    {% assign category = category_pair | split:'|' | last %}
	<a href="#{{ category | slugify }}" class="category-link">
      <span class="category-name">{{ category }}</span>
      <span class="category-count">{{ site.categories[category] | size }}</span>
    </a>
    {% endfor %}
  </div>
  <hr/>

  <div class="posts-by-category">
    {% for category_pair in categories_words %}
    {% assign category = category_pair | split:'|' | last %}
    <div id="{{ category | slugify }}" class="posts-for-category">
      <h2>{{ category }}</h2>
      <ul class="posts-list">
        {% for post in site.categories[category] %}
          <li>
            <h3>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
              </a>
            </h3>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>